
# Playwright
node_modules/
/test-results/
/playwright-report/
/cucumber-report/
/blob-report/
/playwright/.cache/
udemy_utils/PlaceOrder_SingleDataSet.json
udemy_utils/PlaceOrder_SeveralDataSets.json
udemy_utils/PlaceOrder_TestBase.js
Udemy_storageState.json
.env