
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
udemy_utils/PlaceOrder_SingleDataSet.json
udemy_utils/PlaceOrder_SeveralDataSets.json
Udemy_storageState.json
.env